/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
}
#iplabel{
    -fx-font: bold 10pt "Arial";
}
#playbtn{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
	-fx-background-color:  transparent;
    -fx-text-fill: #395306;
}
#playbtn:hover {
    -fx-background-color: linear-gradient(#87CEFA, #c7feff);
}
#stopbtn{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
	-fx-background-color:  transparent;
	-fx-text-fill: #ff4500;
}
#stopbtn:hover {
    -fx-background-color: linear-gradient(#87CEFA, #c7feff);
}
#disconnectbtn{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
	-fx-background-color:  transparent;
	-fx-text-fill: rgb(255,0,0);
}
#disconnectbtn:hover {
    -fx-background-color: linear-gradient(#87CEFA, #c7feff);
}
#soundupbtn{
	-fx-border-radius: 20;
    -fx-background-radius: 20;
	-fx-background-color:  transparent;
}
#soundupbtn:hover {
    -fx-background-color: linear-gradient(#87CEFA, #c7feff);
}
#sounddownbtn{
	-fx-border-radius: 20;
    -fx-background-radius: 20;
	-fx-background-color:  transparent;
}
#sounddownbtn:hover {
    -fx-background-color: linear-gradient(#87CEFA, #c7feff);
}